<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Todo Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Reminders</h1>
        <p>
          <a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a>
        </P>
        <p>
          <a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a>
        </p>
      </div>
        <h2>Tasks</h2>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Due Date</th>
            </tr>
          </thead>
          <tbody>
            {% for item in todo_list_detail.items.all %}
            <tr>
              <td></td>
              <td>{{ item.task }}</td>
              <td>{{ item.due_date }}</td>
            </tr>
            {% empty %} {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
