<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Todo Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <p>
          <a href="{% url 'todo_list_create' %}">Create a new list</a>
        </p>
        <p>
          <a href="{% url 'todo_list_create' %}">Create a new item</a>
      </div>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of Items</th>
            </tr>
          </thead>
          <tbody>
            {% for list in todo_list %}
            <tr>
              <td><a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</td>
              <td>{{ list.items.count }}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
